# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [11]:
col1 = pd.Series(np.random.randint(1,5,100))
col2 = pd.Series(np.random.randint(1,4,100))
col3 = pd.Series(np.random.randint(10000,30000,100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [15]:
df = pd.concat([col1, col2, col3], axis=1)

df.head()

   0  1      2
0  3  2  22609
1  1  2  19221
2  4  2  25377
3  2  2  15906
4  3  1  28148

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [17]:
df.columns = ['bedrs', 'bathrs', 'price_square_meter']

df.head()

   bedrs  bathrs  price_square_meter
0      3       2               22609
1      1       2               19221
2      4       2               25377
3      2       2               15906
4      3       1               28148

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [18]:
bigcolumn = pd.concat([col1, col2, col3])

bigcolumn

0         3
1         1
2         4
3         2
4         3
      ...
95    10547
96    13262
97    18808
98    26469
99    26721
Length: 300, dtype: int32

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [19]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [25]:
bigcolumn.reset_index(inplace=True, drop=True)
bigcolumn

0          3
1          1
2          4
3          2
4          3
       ...
295    10547
296    13262
297    18808
298    26469
299    26721
Length: 300, dtype: int32